services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${DB}
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data 

volumes:
  db_data: 
      
